


.auth-form-container{
    margin: auto;
    margin-top: 10rem;
    background: #E1463E;
    padding: 1rem 3rem 1rem 3rem;
    border: 1rem solid #181926;
    border-radius: 45px;
    height: 25rem;
    width: 25rem;

        .auth-header{
            h1{
                text-align: center;
                font-size: 2.5rem;
                color: #1F2032;
            }
        }
    
        input{
            width: 25rem;
            height: 3.5rem;
            font-size: 1.2rem;
            margin: 15px 0;
            border-radius: 15px;
            border: none;
            text-align: center;
            transition: 0.2s ease-in;
            background: #1F2032;
            font-size: 1.8rem;
            color: white;
            &:hover {
                text-decoration: none;
                color: white;
                background: #282C47;
                }
            }
            input::placeholder{
                color: #6A6C84;
                font-size: 2rem;
                &:hover{
                    color: white;
                }
              }
        
        .auth-mutation{
            width: 15rem;
            margin: auto;
            button{
                width: 15rem;
                height: 3rem;
                font-size: 1.2rem;
                margin: 15px 0;
                border-radius: 45px;
                border: 2px solid black;
                text-align: center;
                transition: 0.2s ease-in;
                background: #1F2032;
                font-size: 1.8rem;
                color: #6A6C84;
                &:hover {
                    background: #282C47;
                    }
            }
        }

}

.re-route-auth{
    font-size: 1.5rem;
    text-align: center;
}

